:root {
  --light: #f0f0f0;
  --dark: #808080;
  --square: 6vw;
  --coords-font: "helvetica neue", helvetica, arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Board rows */
#board-container {
  background-color: var(--light);
  z-index: -5;
  width: fit-content;
  height: auto;
}
#board {
  list-style: none;
}
#board li {
  display: inline-block;
  padding:0;
  margin:0;
  vertical-align: top;
  height: var(--square);
  width: var(--square);
} 
.square {
  width: var(--square);
  height: var(--square);
  position: relative;
  font-size: calc(var(--square) / 4.3);
  z-index: 1;
}
.light {
  background-color: var(--light);
  color: var(--dark);
}
.dark {
  background-color: var(--dark);
  color: var(--light);
}
/* Coordinates */
.column {
  position: absolute;
  bottom: 1%;
  right: 4%;
}
.row {
  position: absolute;
  top: 1%;
  left: 2%;
}
/* Peices */
.column, .row {
  user-select: none;
  background-color: transparent;
}
.occupied {
  cursor: grab;
}
.pieces {
  width:inherit;
  height: auto;
  z-index: 3;
  user-select: none;
  position: relative;
}
.pieces {
  cursor: grab;
}
/* .pieces:active {
  cursor: grabbing;
} */
/* Highlight */
.square {
  z-index: 1;
}
.square.highlighted::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 41, 41, 0.65);
  pointer-events: none; 
  z-index: 1;
}

#myCanvas {
  position: absolute;
  height: calc(8 * var(--square));
  width: calc(8 * var(--square));
  z-index: 10000;
  pointer-events: none;

  /* JUST FOR NOW UNTIL I RETURN TO ARROW */
  display: none;


}
.square.newhighlight::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* make transparent and add dots for cool effect */
  background-color: rgba(255, 41, 41, 0.65); 
  pointer-events: none; 
  z-index: 2;
}
.square.dark.newhighlight:hover {
  background-color: rgba(255, 41, 41, 0.65);
}
.square.light.newhighlight:hover {
  background-color: rgba(255, 41, 41, 0.65);
}